<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>stockmailer</name>
	<displayName><![CDATA[Stock Mailer]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[This module will automatically send the quantity of products remaining in stock by e-mail whenever the stock of a product is changed.]]></description>
	<author><![CDATA[SoulPlayer]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall>Are you sure you want to delete all customer notifications?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
